extends layout/layout.pug

block vars
	-
		var pageTitle = 'Главная';
		var pageType = 'index';

block content

	section.main__title
		.owl-carousel
			div.bg_img(style="background-image: url('/img/bitmap_8@2x.jpg')")
				.container
					h1.h1
						small 01
						| Eclisse – cовременные
						br
						| решения дизайна интерьера
					.more
						a(href='/').link_border.or Подробнее
			div.bg_img(style="background-image: url('/img/W3CRToE_C7LFVg8.jpg')")
				.container
					h1.h1
						small 02
						| Раздвижные системы Eclisse – 
						br
						| выгодные условия для салонов дверей
					.more
						a(href='/').link_border.or Подробнее
			div.bg_img(style="background-image: url('/img/Y0_bd1qe3M1Nupyp.jpg')")
				.container
					h1.h1
						small 03
						| Раздвижные системы Eclisse – 
						br
						| выгодные условия для салонов дверей
					.more
						a(href='/').link_border.or Подробнее
		.owl-navs
			.container-fluid
				.nav
				.dots


	section.container-fluid.block_news
		h2.h2
			| Партнёрство для всех
		.row
			.col-12.col-md-6.image(style="background-image: url('/img/bitmap_4.jpg')")
			.col-12.col-md-6.text
				span 01
				.info
					h3.h3
						| Фабрика дверей
					p Приглашаем Вас посетить стенд нашей компании «Группа компаний "Торговый дом Вишера"»
				.more
					a(href='/').link_border.or Подробнее
		.row
			.col-12.col-md-6.image(style="background-image: url('/img/bitmap_3.jpg')")
			.col-12.col-md-6.text
				span 02
				.info
					h3.h3
						| Монтажники
					p Приглашаем Вас посетить стенд нашей компании «Группа компаний "Торговый дом Вишера"»
				.more
					a(href='/').link_border.or Подробнее
		.row
			.col-12.col-md-6.image(style="background-image: url('/img/bitmap_2.jpg')")
			.col-12.col-md-6.text
				span 03
				.info
					h3.h3
						| Cалон дверей
					p Приглашаем Вас посетить стенд нашей компании «Группа компаний "Торговый дом Вишера"»
				.more
					a(href='/').link_border.or Подробнее
		.row
			.col-12.col-md-6.image(style="background-image: url('/img/bitmap.jpg')")
			.col-12.col-md-6.text
				span 04
				.info
					h3.h3
						| Дизайн и проектирование
					p Приглашаем Вас посетить стенд нашей компании «Группа компаний "Торговый дом Вишера"»
				.more
					a(href='/').link_border.or Подробнее


	-
		var partner_benefits = [
			{
				id: "p1",
				icon: "noun-settings-972186.svg",
				img: "bitmap_7@2x.jpg",
				title: "Техническая поддержка",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "p2",
				icon: "noun-chat-972207.svg",
				img: "bitmap_7@2x.jpg",
				title: "Академия Eclisse",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания… На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "p3",
				icon: "noun-planet-972496.svg",
				img: "bitmap_7@2x.jpg",
				title: "Семья Eclisse",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "p4",
				icon: "noun-location-on-a-map-972541.svg",
				img: "bitmap_7@2x.jpg",
				title: "Карта партнёров",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "p5",
				icon: "noun-key-972577.svg",
				img: "bitmap_7@2x.jpg",
				title: "Личный кабинет партнера",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "p6",
				title: "Конфигуратор продукции",
				img: "bitmap_7@2x.jpg",
				icon: "noun-preferences-972181-1.svg",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			}
		];
	section.container-fluid.block_benefits
		h2.h2
			| Привелегии партнёрства
		.row.list__item
			each item in partner_benefits
				.col-6.col-lg-3.list__item-item(
					class=(item.img != null) ? 'img' : ''
					style=(item.img != null) ? 'background-image:url(/img/'+item.img+')' : ''
					data-toggle='#' + item.id
					)
					.ico
						svg
							use(xlink:href="/img/" + item.icon + "#ico1")
							use(xlink:href="/img/" + item.icon + "#ico2").fill
					.text.toggle_target(id=item.id)
						.scrollbar-inner
							p=item.text
					h4.h4
						=item.title
					.list__item-mob
						.img(style='background-image:url(/img/'+item.img+')')
						p=item.text


	-
		var portfolio = [
			{
				date: '12/07',
				img: "/img/bitmap-copy-7@2x.jpg",
				avatar: "/img/bitmap-copy-19@2x.jpg",
				name: "Виктория Егорова",
				user_url: "martinka.cej"
			},{
				date: '12/07',
				img: "/img/bitmap-copy-8@2x.jpg",
				avatar: "/img/bitmap-copy-20@2x.jpg",
				name: "Matt Wojtaś",
				user_url: "martinka.cej"
			},{
				date: '12/07',
				img: "/img/bitmap-copy-17@2x.jpg",
				avatar: "/img/bitmap-copy-21@2x.jpg",
				name: "Виктория Егорова",
				user_url: "martinka.cej"
			},{
				date: '12/07',
				img: "/img/bitmap-copy-18@2x.jpg",
				avatar: "/img/bitmap-copy-22@2x.jpg",
				name: "Brice Séraphin",
				user_url: "martinka.cej"
			}
		];
	section.container-fluid.block_portfolio
		h2.h2
			| Новые работы с Eclisse
		.row
			each item in portfolio
				.col-6.col-md-6.col-lg-3
					.image(style='background-image: url("' + item.img + '")')
					.desc
						.wrap 
							a(href='http://instagra.com/' + item.url).fab.fa-instagram.icon
							.date=item.date
							.avatar
								img(src=item.avatar)
							h4.h4=item.name
							.url
								a(href='http://instagra.com/' + item.url)='@' + item.user_url


	-
		var our_benefits = [
			{
				id: "b1",
				icon: "noun-verification-972576.svg",
				title: "Качество материалов",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "b2",
				icon: "noun-joyful-972254.svg",
				title: "Одна семья",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "b3",
				icon: "noun-flag-972326.svg",
				title: "Инновационные идеи",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "b4",
				icon: "noun-help-972389.svg",
				title: "Безопасность",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "b5",
				icon: "noun-cup-972549.svg",
				title: "Стремление к совершенству",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},{
				id: "b6",
				icon: "noun-shield-972579.svg",
				title: "Долговечность",
				text: "На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания…"
			},
		];
	section.container-fluid.block_benefits
		h2.h2
			| Наши преимущества
		.row.list__item
			each item in our_benefits
				.col-6.col-lg-3.list__item-item(
					data-toggle='#' + item.id
					class=(item.img != null) ? 'img' : ''
					style=(item.img != null) ? 'background-image:url(/img/'+item.img+')' : ''
					)
					.ico
						svg
							use(xlink:href="/img/" + item.icon + "#ico1")
							use(xlink:href="/img/" + item.icon + "#ico2").fill
					.text.toggle_target(id=item.id)
						.scrollbar-inner
							p=item.text
					h4.h4
						=item.title
					.list__item-mob
						-if (item.img) 
							.img(style='background-image:url(/img/'+item.img+')')
						p=item.text


	-
		var news = [
			{
				date: '22/07',
				img: '/img/bitmap_5.jpg',
				title: "Международная строительная и интерьерная выставка MosBuild",
			},{
				date: '25/07',
				img: '/img/bitmap_6.jpg',
				title: "Открытие нового выставочного зала в Казахстане",
			},
		];
	section.container-fluid.block_news
		h2.h2
			| Новости
		each item in news
			.row
				.col-12.col-md-6.image(
					style=(item.img != null) ? 'background-image: url(' + item.img + ')' : ''
					)
				.col-12.col-md-6.text
					span=item.date
					.info
						h3.h3=item.title
					.more
						a(href='/').link_border.or Подробнее


	-
		var clients = [
			{
				img: '/img/logos/mask@2x.jpg',
			},
			{
				img: '/img/logos/bitmap-copy-17_6@2x.jpg',
			},
			{
				img: '/img/logos/bitmap-copy-17_5@2x.jpg',
			},
			{
				img: '/img/logos/bitmap-copy-17@2x.jpg',
			},
			{
				img: '/img/logos/bitmap-copy-17_4@2x.jpg',
			},
			{
				img: '/img/logos/bitmap-copy-17_3@2x.jpg',
			},
			{
				img: '/img/logos/bitmap-copy-17_2@2x.jpg',
			},
		];
	section.container-fluid.block_clients
		h2.h2
			| Нас выбрали
		.row
			each item in clients
				.col-6.col-md-6.col-lg-3
					a(href='/').logo
						img(src=item.img)



	section.container-fluid.partners_request
		h2.h2
			| Станьте нашим партнёром
		form(novalidate)
			.row
				.col-12.col-md-6
					.input_field
						input(type='text' placeholder='Имя' required).fluid
				.col-12.col-md-6
					.input_field
						input(type='text' placeholder='Комментарий').fluid
				.col-12.col-md-6.col-lg-3
					.input_field
						input(type='email' placeholder='Эл. почта' required).fluid
				.col-12.col-md-6.col-lg-3
					.input_field
						input(type='tel' placeholder='Телефон' required).fluid
				.col-12.col-lg-4
					.input_field
						.checkbox
							label
								input(type='checkbox' required)
								span.cr
									i.cr-icon.fas.fa-check
								| Я даю согласие на обработку своих данных
				.col-12.col-lg-2
					.input_field
						button(type='submit').float_right Отправить