-
	var links1 = {
		company: [
			{
				title: 'title',
				href: "about.html",
				name: "О компании",
			}, {
				href: "family.html",
				name: "Семья Eclisse"
			}, {
				href: "/",
				name: "Эксклюзивные отношения"
			}, {
				href: "/",
				name: "Сервисы и услуги"
			}, {
				href: "/",
				name: "Значение и роль ТДВ"
			}
		],
		partners: [
			{
				title: 'title',
				href: "partners.html",
				name: "Для партнёров"
			}, {
				href: ".",
				name: "Дистрибьюторам"
			}, {
				href: ".",
				name: "Диллерам"
			}, {
				href: ".",
				name: "Дизайнерам"
			}, {
				href: ".",
				name: "Профессионалам"
			}, {
				href: ".",
				name: "Карта партнеров"
			},
		],
		community: [
			{
				title: 'title',
				href: "community.html",
				name: "Сообщество",
			}, {
				href: "family.html",
				name: "Семья Eclisse"
			}, {
				href: "/",
				name: "Новости"
			}, {
				href: "/",
				name: "Работы"
			}, {
				href: "/",
				name: "Конкурс работ и историй"
			}
		],
		catalog: [
			{
				title: 'title',
				href: "catalog.html",
				name: "Каталог",
			}, {
				href: "/",
				name: "Пеналы"
			}, {
				href: "/",
				name: "Аксессуары"
			}, {
				href: "/",
				name: "Товары совместимые с Eclisse"
			}
		]
	};
	var links2 = {
		academy: [
			{
				title: 'title',
				href: "academy.html",
				name: "Академия",
			}, {
				href: "/",
				name: "Мероприятия и новости"
			}, {
				href: "/",
				name: "Курсы"
			}, {
				href: "/",
				name: "Сертификация и аккредитация"
			}, {
				href: "/",
				name: "Библиотека ресурсов"
			}, {
				href: "/",
				name: "Бизнес-решения"
			}, {
				href: "/",
				name: "Дизайнерские решения"
			},
		],
		support: [
			{
				title: 'title',
				href: "support.html",
				name: "Поддержка",
			}, {
				href: "/",name: "FAQ"
			}, {
				href: "/",name: "Полезные ссылки"
			}, {
				href: "/",name: "Техническая поддержка"
			}, {
				href: "/",name: "Инструкции по сборке"
			}, {
				href: "/",name: "Гарантийные условия"
			}, {
				href: "/",name: "Конфигуратор подбора"
			},
		],
	};

footer
	.container-fluid
		.row
			each items in links1
				.col-12.col-md-3
					ul
						each item in items
							li(class=item.title)
								a(href=item.href)=item.name

		.row
			each items in links2
				.col-12.col-md-3
					ul
						each item in items
							li(class=item.title)
								a(href=item.href)=item.name

			.col-12.col-lg-6.subscribe.mob
				h4.title 
					| Подпишитесь на рассылку новостей
				form
					.input_field.input
						input(type='email' placeholder='Эл. почта').fluid
					.input_field.label
						.checkbox
							label
								input(type='checkbox')
								span.cr
									i.cr-icon.fas.fa-check
								| Я даю согласие на обработку своих данных
					.input_field.submit
						button(type='submit').float_right Отправить

				.contacts
					.phone
						a.tel +7 495 518 96 80
					.mail
						a(href='mailto:info@eclisse24.ru') info@eclisse24.ru

				h4.title.socials
					| Мы в соц. сетях
					a(href='/')
						img(src='/img/ico_fb.png')
					a(href='/')
						img(src='/img/ico_tw.png')
					a(href='/')
						img(src='/img/ico_inst.png')

		.row.bottom.mob
			.col-12.col-lg-6.mob
				p © 2018, ООО ТДВ. Все права защищены.
			.col-12.col-lg-6.mob
				.footer_link 
					.link
						a(href='/') Карта сайта
						a(href='/') Политика конфиденциальности
					.dev
						|Создание сайта: 
						a(href='/') WebGK
					.lang
						a(href='/')
							img(src='/img/rectangle-3-copy-2@2x.png')
