block vars
	- var pageType = 'index';

-
	var pages = [
		{
			id: "catalog",
			href: "catalog.html",
			title: "Каталог",
			submenu: [
				{
					id: "index",
					href: "index.html",
					title: "Мероприятия и новости",
				},
				{
					id: "index",
					href: "index.html",
					title: "Курсы",
				},
				{
					id: "index",
					href: "index.html",
					title: "Сертификация и аккредитация",
				},
				{
					id: "index",
					href: "index.html",
					title: "Библиотека ресурсов",
				},
				{
					id: "index",
					href: "index.html",
					title: "Бизнес-решения",
				},
				{
					id: "index",
					href: "index.html",
					title: "Дизайнерские решения",
				},
			]
		}, {
			id: "academy",
			href: "academy.html",
			title: "Академия",
			submenu: [
				{
					id: "index",
					href: "index.html",
					title: "Мероприятия и новости",
				},
				{
					id: "index",
					href: "index.html",
					title: "Курсы",
				},
				{
					id: "index",
					href: "index.html",
					title: "Сертификация и аккредитация",
				},
				{
					id: "index",
					href: "index.html",
					title: "Библиотека ресурсов",
				},
				{
					id: "index",
					href: "index.html",
					title: "Бизнес-решения",
				},
				{
					id: "index",
					href: "index.html",
					title: "Дизайнерские решения",
				},
			]
		}, {
			id: "partners",
			href: "partners.html",
			title: "Партнёры",
			submenu: [
				{
					id: "index",
					href: "index.html",
					title: "Мероприятия и новости",
				},
				{
					id: "index",
					href: "index.html",
					title: "Курсы",
				},
				{
					id: "index",
					href: "index.html",
					title: "Сертификация и аккредитация",
				},
				{
					id: "index",
					href: "index.html",
					title: "Библиотека ресурсов",
				},
				{
					id: "index",
					href: "index.html",
					title: "Бизнес-решения",
				},
				{
					id: "index",
					href: "index.html",
					title: "Дизайнерские решения",
				},
			]
		}, {
			id: "community",
			href: "community.html",
			title: "Сообщество",
			submenu: [
				{
					id: "index",
					href: "index.html",
					title: "Мероприятия и новости",
				},
				{
					id: "index",
					href: "index.html",
					title: "Курсы",
				},
				{
					id: "index",
					href: "index.html",
					title: "Сертификация и аккредитация",
				},
				{
					id: "index",
					href: "index.html",
					title: "Библиотека ресурсов",
				},
				{
					id: "index",
					href: "index.html",
					title: "Бизнес-решения",
				},
				{
					id: "index",
					href: "index.html",
					title: "Дизайнерские решения",
				},
			]
		}
	];

header
	.container-fluid
		.row.top
			.col.top-navs
				.burger
					button.hamburger.hamburger--slider
						span.hamburger-box
							span.hamburger-inner
				.logo
					a(href='/')
						img(src="/img/logo.png")
				.buttons
					button
						img(src='/img/group-copy-2.svg')
					button
						img(src='/img/search-grey-copy-2.svg')
				.phone
					tel +7 495 518 96 80
				.langs
					a(href="/")
						img(src='/img/lang_ru.svg')
		nav.row.mob
			each menu in pages
				.col
					a(
						href=menu.href 
						class=(pageType === menu.id) ? 'active' : ''
						)
						= menu.title
					.more
						img.down(src='/img/arrow_down.svg')
						img.up(src='/img/arrow_up.svg')
					.submenu
						each item in menu.submenu
							.submenu-item
								a(href=item.href class=(pageSubType === item.id) ? 'active' : '')= item.title