block vars
	- var pageTitle = '';

title=pageTitle + ' — Eclisse'

meta(charset='utf-8')

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=360, initial-scale=1, shrink-to-fit=no")
meta(property='og:url', content='http://localhost:8080/')
meta(property='og:title', content='Здесь заголовок')
meta(property='og:description', content='Здесь описание')

link(rel="shortcut icon", href="/images/favicon-big.png" type="image/png")

link(href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", rel='stylesheet')

link(href="/css/grid.css", rel='stylesheet')
link(href="/css/owl.carousel.min.css", rel='stylesheet')
link(href="/css/owl.theme.default.min.css", rel='stylesheet')
link(href="/css/jquery.scrollbar.css", rel='stylesheet')
link(href="/css/hamburgers.min.css", rel='stylesheet')
link(href="/css/base.css?v={VERSION_REPlACE}", rel='stylesheet')

block head