h1 {
    margin: 84px auto 116px;
}

h2 {
    padding: 32px 0;
}

.main__title {
    text-align: center;
    color: $color-white;
    overflow: hidden;

    .bg_img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 440px;

        &:before {
            background-image: radial-gradient(circle at 23% 53%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    h1 {
        margin-top: 0;
        margin-bottom: 116px;

        small {
            display: block;
            font-size: 13px;
            color: inherit;
            margin-bottom: 84px;
        }
    }

    .more {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 90px;
    }

    a {
        color: $color-white;

        &:after {
            background-color: $color-white;
        }

        &.or:after {
            background-color: $color-orange;

        }
    }

    .owl-carousel {
        .owl-stage-outer {
            overflow: visible;
        }

        .container {
            position: relative;
            overflow: hidden;
            padding-top: 40px;
            padding-bottom: 53px;
            height: 100%;
        }
    }

    .owl-navs {
        margin-top: -60px;

        .container {
            position: relative;
            height: 60px;
        }
    }
}

.block_news {
    .row {
        .image {
            min-height: 220px;
        }

        .image {
            order: 1;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .text {
            order: 2;
            background-color: $color-white;
            position: relative;
            text-align: center;

            .info {
                margin-top: 66px;
                margin-bottom: 66px;

                p {
                    color: $color-gray-dim;
                    font-size: 15px;
                    align-self: center;
                }

                .h3 {
                    align-self: center;
                }
            }

            span {
                position: absolute;
                top: 20px;
                font-size: 14px;
                color: $color-gray-dim;
                left: 0;
                width: 100%;
                text-align: center;
            }

            .more {
                position: absolute;
                bottom: 20px;
                text-align: center;
                left: 0;
                width: 100%;
            }

            &:before {
                content: '';
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                top: -15px;
                border-right: 10px solid white;
                left: 50%;
                transform: rotate(90deg);
                position: absolute;
            }

        }

        &:nth-child(2n+1) {
            &:hover {
                .text {
                    &:before {
                        border-left: 10px solid $color-blue;
                    }
                }
            }
        }

        .more {
            a {
                color: $color-blue;

                &:after {
                    background-color: $color-orange;
                }
            }
        }

        &:hover {
            .text {
                background-color: $color-blue;
                color: $color-white;

                p,
                a,
                span,
                .more {
                    color: inherit;
                }

                span {
                    opacity: .5;
                }

                p {
                    opacity: .6;
                }

                a {
                    &:after {
                        background-color: $color-white;
                    }
                }

                &:before {
                    border-right: 10px solid $color-blue;
                }
            }
        }
    }
}

.block_benefits {

    .list__item {
        border-top: 1px solid $color-gray-mid;
        border-left: 1px solid $color-gray-mid;
        counter-reset: list;
        color: $color-gray-dim;

        position: relative;

        &:before {
            content: '';
            width: 1px;
            background-color: $color-gray-mid;
            position: absolute;
            height: 100%;
            right: 0px;
        }

        &:after {
            content: '';
            height: 1px;
            background-color: $color-gray-mid;
            position: absolute;
            width: 100%;
            bottom: 0px;
        }

        .list__item-item {
            border-right: 1px solid $color-gray-mid;
            border-bottom: 1px solid $color-gray-mid;
            background-size: 0;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;

            &:before {
                counter-increment: list;
                content: "0"counter(list);
                top: 20px;
                left: 30px;
                position: absolute;
            }

            .ico {
                width: 100%;
                text-align: center;

                svg,
                img {
                    width: 40px;
                    height: 40px;
                    margin: 30px auto;

                    use {
                        fill: #0053AA;
                    }
                }
            }

            h4,
            .h4 {
                text-align: center;
                color: $color-black;
                padding-bottom: 20px;
                font-weight: 600;
                position: relative;
                z-index: 1;
                width: 100%;
                align-self: flex-end;
            }

            .text {
                display: none;

                p {
                    line-height: 1.43;
                }
            }

            &.active {
                &.img {
                    background: none !important;
                }
            }
        }

        .list__item-mob {
            display: none;
            background-color: $color-white;
            width: 100%;
            left: -15px;
            position: relative;

            p {
                padding: 20px;
            }

            .img {
                background-position: center center;
                background-size: cover;
                height: 230px;
            }

            &.active {
                display: block;
            }
        }
    }
}

.block_portfolio {

    .h4 {
        font-weight: 600;
    }

    .image {
        height: 140px;
        margin: 0 -15px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .desc {
        margin: 0 -15px;
        border-left: 1px solid $color-gray-mid;
        border-right: 1px solid $color-gray-mid;
        border-bottom: 1px solid $color-gray-mid;
        text-align: center;

        .wrap {
            padding: 17px 20px;
        }

        h4,
        .h4 {
            margin-top: 12px;
            color: $color-black;
            margin-bottom: 5px;
        }

        .avatar {
            text-align: center;
            margin: auto;
            margin-top: 18px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 100%;
            }
        }

        .url {
            a {
                border: none;
            }
        }

        .icon {
            float: left;

            a {
                border: none;
                font-size: 16px;
                line-height: 1.1;
                display: inline-block;
            }
        }

        .date {
            float: right;
        }
    }

    [class*=col-] {
        color: $color-gray-dim;
        transition: background-color .3s ease;

        &:nth-child(2n+2) {
            .desc {
                border-left: none;
            }
        }


        &:hover {
            background-color: $color-blue;
            color: $color-white;

            h4,
            .h4 {
                color: $color-white;
            }

            .date,
            .icon,
            .url {
                opacity: .5;
                transition: .3s ease;
                transition-property: color, opacity;
                border: none;

                &:hover:not(.date) {
                    color: $color-white;
                    opacity: 1;
                }
            }

            .desc {
                border-right-color: $color-blue;
            }

            .avatar {
                img {
                    box-shadow: 0 2px 15px 0 rgba($color-blue-dim, .57);
                }
            }

            a {
                &:hover {
                    color: $color-white;
                    opacity: 1;
                }
            }
        }
    }
}

.block_clients {

    [class*=col-] {
        border-right: 1px solid $color-gray-mid;
        background-image: linear-gradient(to bottom, #ffffff, #ffffff);
        border-bottom: 1px solid $color-gray-mid;
        transition: box-shadow .3s ease;

        &:nth-child(2n+2) {
            border-right: none;
        }

        &:hover {
            box-shadow: 0 2px 76px 0 #dce2e8;
            position: relative;
            z-index: 1;
        }
    }

    .logo {
        min-height: 140px;
        border: none;
        display: block;
        filter: grayscale(100%);
        transition: filter .45s ease;

        img {
            height: auto;
            width: 100%;
            margin: auto;
            display: block;
        }

        &:hover {
            filter: grayscale(0%);
        }
    }
}

.partners_request {
    form {
        border-top: 1px solid $color-gray-mid;
        padding-top: 20px;
        padding-bottom: 10px;
        position: relative;

        &:before {
            content: '';
            height: 1px;
            width: 300%;
            position: absolute;
            top: -1px;
            left: -100%;
            background-color: $color-gray-mid;
        }

        label {
            margin-top: 16px;
            display: inline-block;
        }

        [type=submit] {
            width: 100%;
        }
    }
}

@include min_width(768) {
    .main__title {
        h1 {
            small {
                font-size: 14px;
                margin-bottom: 147px;
            }
        }

        .link_border {
            &:after {
                bottom: -10px;
            }
        }

        .bg_img {
            height: 600px;
        }
    }

    .block_news {
        .row {
            .text {
                display: flex;
                flex-wrap: wrap;
                padding-left: 40px;
                padding-right: 40px;

                .info {
                    align-self: center;
                    width: 100%;
                    margin: 0;
                    padding-top: 80px;
                    padding-bottom: 80px;
                }

                span {
                    top: 40px;
                }

                .more {
                    bottom: 40px;
                }
            }

            [class*=col-] {
                min-height: 390px;

                &:before {
                    top: 50%;
                    transform: translateY(-50%);
                    left: -10px;
                    transform: none;
                }
            }

            &:nth-child(2n+1) {
                .text {
                    order: 1;

                    &:before {
                        border-left: 10px solid white;
                        right: -10px;
                        left: auto;
                        border-right: none;
                    }
                }

                .image {
                    order: 2;
                }
            }
        }
    }

    .block_benefits {
        .list__item {
            .list__item-item {
                min-height: 260px;

                .ico {

                    svg,
                    img {
                        height: 77px;
                        width: 77px;
                        margin: 60px auto;
                    }
                }

                .text {
                    max-height: 200px;

                    .scroll-wrapper {
                        max-height: 150px;
                    }
                }
            }
        }
    }

    .block_portfolio {
        .image {
            height: 260px;
        }

        .desc {
            .wrap {
                padding: 22px 30px;
            }

            h4,
            .h4 {
                border-top: 1px solid $color-gray-mid;
                padding-top: 24px;
                margin-top: 41px;
                transition: border-top .3s ease;
            }

            .avatar {

                img {
                    width: 90px;
                    height: 90px;
                }
            }
        }

        [class*=col-] {
            &:nth-child(3n+3) {
                .desc {
                    border-left: none;
                }
            }

            &:hover {
                .h4 {
                    border-top-color: rgba($color-gray-mid, .14);
                }
            }
        }
    }

}

@include min_width(1025) {
    .main__title {
        h1 {
            small {
                font-size: 14px;
                margin-bottom: 147px;
            }
        }

        .link_border {
            &:after {
                bottom: -10px;
            }
        }

        .bg_img {
            height: 600px;
        }
    }

    .block_news {
        .row {
            .text {
                padding-left: 40px;
                padding-right: 40px;
            }

            [class*=col-] {
                min-height: 390px;

                &:before {
                    top: 50%;
                    transform: translateY(-50%);
                    left: -10px;
                    transform: none;
                }
            }

            &:nth-child(2n+1) {
                .text {
                    order: 1;

                    &:before {
                        border-left: 10px solid white;
                        right: -10px;
                        left: auto;
                        border-right: none;
                    }
                }

                .image {
                    order: 2;
                }
            }
        }
    }

    .partners_request {
        form {
            padding-top: 40px;

            [type=submit] {
                width: auto;
            }
        }
    }

    .block_benefits {

        .list__item {

            .list__item-item {
                display: flex;
                flex-wrap: wrap;

                .text {
                    background-color: $color-gray-light;

                    &:before {
                        opacity: 0;
                    }

                    &.active {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        padding: 30px;
                    }

                    p {
                        line-height: 1.71;
                    }
                }

                h4,
                .h4 {
                    padding-top: 19px;
                    border-top: 1px solid $color-gray-mid;
                }


                &.img:not(.active):hover {
                    background-size: cover;
                    color: $color-white;

                    &:before {
                        opacity: 0;
                    }

                    .ico {
                        svg {
                            use {
                                fill: #FFFFFF;
                            }
                        }
                    }

                    h4,
                    .h4 {
                        color: $color-white;
                        border-color: rgba($color-gray-mid, .5);
                    }
                }

            }
        }

        .row {

            .list__item-mob {
                &.active {
                    display: none;
                }
            }
        }
    }

    .block_clients {
        [class*=col-] {
            &:nth-child(2n+2) {
                border-right: 1px solid $color-gray-mid;
            }
        }
    }
}

@include min_width(1200) {
    .block_news {
        .row {
            .text {
                padding-left: 60px;
                padding-right: 60px;
            }
        }
    }


    .block_clients {

        .logo {
            min-height: 260px;
        }
    }
}

@include min_width(1400) {
    .block_news {
        .row {
            .text {
                padding-left: 180px;
                padding-right: 170px;
            }
        }
    }
}