html,
body {
    @include font('AvenirNext');
    background-color: $color-gray-light;
    font-size: 14px;
    font-weight: 300;
}


body {
    padding-top: 100px;

    @include max_width(1025) {
        &.is_submenu {
            overflow: hidden;

            header {
                overflow-x: hidden;
                height: 100%;

                .top {
                    position: fixed;
                    top: 0;
                    left: 0;
                    padding: 20px;
                    width: 100%;
                    z-index: 10;
                    background-color: $color-white;
                }

                nav.mob.show {
                    margin-top: 150px;
                }
            }
        }
    }
}

@include min_width(1025) {
    body {
        padding-top: 160px;
    }
}