footer {
    background-color: $color-white;
    padding-top: 20px;
    color: $color-gray-dim;
    overflow: hidden;

    .row {
        position: relative;

        &:before {
            content: '';
            height: 1px;
            width: 300%;
            position: absolute;
            top: 0;
            left: -100%;
            background-color: $color-gray-mid;
        }

        [class*=col-] {
            padding-top: 20px;
            position: relative;
            display: none;

            &:nth-child(4n):after {
                display: none;
            }

            &:last-child:after {
                display: none;
            }

            &.mob {
                display: block;
            }
        }

    }

    ul {
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 1em;
        }
    }

    a {
        color: inherit;

        &:hover {}
    }

    .title {
        margin-bottom: 1.5em;
        font-size: 24px;
        font-weight: 600;
        color: $color-black;
    }

    .subscribe {
        padding-bottom: 0;

        [type=submit] {
            border: none;
            width: 100%;
        }

        form {
            position: relative;
            padding-bottom: 30px;

            label {
                color: $color-black;
            }

            &:after {
                content: '';
                height: 1px;
                width: 300%;
                position: absolute;
                bottom: 30px;
                left: -100%;
                background-color: $color-gray-mid;
            }
        }
    }

    .socials {
        margin-bottom: 0;
        padding-top: 20px;

        a {
            border: none;
            float: right;
            vertical-align: middle;
            margin-left: 15px;
            margin-top: 3px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .contacts {
        .phone {
            margin-bottom: 16px;

            .tel {
                font-size: 24px;
                color: $color-black;
                font-family: 'Circe';
                font-weight: 400;
                border: none;
            }
        }

        .mail {
            a {
                font-size: 14px;
                color: $color-blue;
                border-bottom-color: rgba($color-blue, .3);

                &:hover {
                    border-bottom-color: rgba($color-blue, .6);
                }
            }
        }
    }

    .bottom {
        border-top: none;

        a {
            border-bottom-color: rgba($color-gray-dim, .2)
        }

        .footer_link {

            .link {
                width: 100%;
                margin-bottom: 16px;

                a {
                    display: inline-block;
                    margin-right: 20px;
                }
            }

            .dev {
                float: left;
                width: 70%;

                a {
                    color: $color-blue;
                    border-color: rgba($color-blue, .3);

                    &:hover {
                        border-color: rgba($color-blue, .6);
                    }
                }
            }

            .lang {
                width: 30%;
                float: right;
                text-align: right;

                a {
                    border: none;
                    display: inline-block;

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        &:before {
            display: none;
        }
    }

    @include min_width(1025) {
        padding-top: 40px;

        .row {
            [class*=col-] {
                padding-top: 30px;
                padding-bottom: 20px;
                display: block;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 20px;
                    width: 1px;
                    background-color: $color-gray-mid;
                }
            }

            &.bottom {
                &:before {
                    display: block;
                }
            }
        }

        .title {
            font-size: 17px;
        }

        .socials {
            border-top: none;
            padding-top: 0;

            a {
                margin-top: -3px;
            }
        }

        .bottom {

            .footer_link {
                margin-top: -0;
                display: flex;
                align-items: center;

                .link {
                    flex: 3;
                    margin-bottom: 0;
                }

                .dev {
                    flex: 2;
                }

                .lang {
                    flex: 1;
                    text-align: right;

                    a {
                        border: none;
                        display: inline-block;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }

        .contacts {
            display: none;
        }

        .subscribe {
            form {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                &:after {
                    display: none;
                }

                [type=submit] {
                    width: auto;
                }

                .input {
                    order: 1;
                    flex: 60%;
                }

                .submit {
                    order: 2;
                    flex: 40%;
                }

                .label {
                    order: 3;
                    flex: 100%;
                }
            }
        }
    }

    @include min_width(1200) {
        .subscribe {
            form {

                .input {
                    flex: 70%;
                }

                .submit {
                    flex: 30%;
                }
            }
        }
    }
}