form {

    input,
    button {
        line-height: 50px;
        border-radius: 30px;
        background-color: transparent;
        border: solid 1px #d1d1d1;
        padding: 0 20px;
        font-size: 15px;

        &.fluid {
            width: 100%;
        }

        vertical-align: middle;
    }

    button,
    input[type=submit] {
        background-color: #f9f9f9;
        transition: .3s ease;
        transition-property: background-color, color, border, opacity;

        &:hover {
            background-color: #0059af;
            color: $color-white;
        }
    }

    input,
    textarea {
        &:focus {
            border: solid 1px #95b6d9;
        }
    }

    .input_field {
        margin-bottom: 30px;
        overflow: hidden;
        width: 100%;
        display: block;
    }

    label {
        input {
            margin-right: 16px;
        }
    }

    .checkbox,
    .radio {
        margin: 0;
    }



    &.was-validate {
        button[type=submit] {

            &.disabled {
                opacity: .7;
            }
        }

        .input_field {
            &.has-validate {
                input:required:invalid {
                    border-color: $color-error;
                }

                label {
                    color: $color-error;
                }

                .checkbox .cr,
                .radio .cr {
                    border-color: $color-error;
                }
            }

            input:required:valid {
                border-color: $color-valid;
            }
        }

        @include min_width(1025) {

            button,
            input[type=submit] {
                padding: 0 36px;
            }
        }
    }
}