header {
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    color: $color-gray-dim;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    font-weight: 600;
    transition: border .3s ease;

    border-top: 20px solid #f9f9f9;
    border-bottom: 20px solid #f9f9f9;

    &.fixed {
        border-top-width: 0;
        border-bottom-width: 0;
    }

    .top {
        padding-top: 18px;
        padding-bottom: 18px;

        .top-navs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .burger {
                flex: 1;

                .hamburger {
                    padding: 0;
                    top: 2px;
                    position: relative;

                    .hamburger-box {
                        height: 15px;
                        width: 18px;
                    }

                    .hamburger-inner,
                    .hamburger-inner:after,
                    .hamburger-inner:before {
                        width: 18px;
                        height: 2px;
                        margin: 0;
                        background-color: $color-gray-dim;
                    }

                    .hamburger-inner {
                        top: 0;
                    }

                    .hamburger-inner:before {
                        top: 6px;
                    }

                    .hamburger-inner:after {
                        top: 12px;
                    }

                    &.is-active {
                        .hamburger-inner {
                            transform: translate3d(0, 6px, 0) rotate(45deg);
                        }

                        .hamburger-inner:after {
                            transform: translate3d(0, -12px, 0) rotate(-90deg);
                        }
                    }
                }
            }

            .phone {
                display: none;
                text-align: center;
                width: 100%;
                padding-top: 20px;
            }

            .logo {
                display: inline-block;
                text-align: center;
                border: none;
                flex: 1;
                height: 24px;

                img {
                    width: 115px;
                    height: 24px;
                }

                a {
                    border: none;
                    display: inline-block;
                    height: 24px;
                }
            }

            .buttons {
                text-align: center;
                flex: 1;
                justify-content: flex-end;
                display: flex;

                button {
                    border: none;
                    background: none;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    margin-left: 20px;
                }
            }

            .langs {
                display: none;
                text-align: center;
                width: 100%;
                padding-top: 20px;
                font-size: 0;

                img {
                    height: 25px;
                    widows: 25px;
                }

                a {
                    border: none;
                }
            }
        }
    }

    nav {
        color: $color-gray-dim;
        position: relative;

        .col {
            padding: 0;
            position: relative;
            border-bottom: 1px solid $color-gray-mid;
            padding-left: 20px;


            a {
                margin-right: 60px;
                line-height: 60px;
                border: none;
                display: block;
                font-size: 15px;
                transition: color .3s ease;
            }

            .more {
                position: absolute;
                transition: color .3s ease;
                right: 0;
                top: 0;
                font-size: 1.1em;
                cursor: pointer;
                width: 60px;
                display: flex;
                height: 100%;
                align-items: center;

                .up,
                .down {
                    height: 8px;
                    margin-left: 20px;
                    transition: opacity .3s ease;
                    opacity: .5;
                }

                .up {
                    display: none;
                }
            }

            .submenu {
                background-color: $color-white;
                padding: 0 20px 20px 0;
                width: 100%;
                display: none;
                margin-bottom: 1px;

                .submenu-item {
                    padding-top: 20px;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                a {
                    padding: 0;
                    line-height: 20px;

                    &:after {
                        display: none;
                    }

                    border: none;
                }

                &.show {
                    display: block;
                }
            }

            &.is_submenu {
                .more {
                    .down {
                        display: none;
                    }

                    .up {
                        display: block;
                    }
                }
            }

            &:hover {
                &>a {
                    color: $color-black;
                }

                .more {

                    .up,
                    .down {
                        opacity: 1;
                    }
                }
            }
        }

        .active {
            color: $color-black;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 1px;
            background-color: $color-gray-mid;
            width: 200%;
        }

        &:after {
            right: 0;
        }

        &:before {
            left: 0;
        }
    }

    .mob {
        display: none;

        &.show {
            display: block;
        }
    }

    .full {
        background-color: $color-white;
        padding: 20px;
    }

    @include min_width(1025) {

        nav {
            text-align: left;

            .col {
                border-right: 1px solid $color-gray-mid;
                border-bottom: none;

                &:first-child {
                    padding-left: 15px;
                    padding-right: 5px;
                }

                &:last-child {
                    border-right: none;
                }

                .submenu {
                    box-shadow: 0 1px 3px 0 rgba($color-black, 0.1);
                    top: 70px;
                    left: 0;
                    position: absolute;
                    padding-top: 20px;
                    padding-left: 20px;
                }
            }

            &.mob {
                display: flex;

                &.show {
                    display: flex;
                }
            }
        }

        .top {

            .top-navs {
                .burger {
                    order: 1;
                    flex: 1;
                }

                .phone {
                    flex: 1;
                    order: 2;
                    padding: 0;
                    text-align: left;
                    display: block;
                }

                .logo {
                    order: 3;
                }

                .buttons {
                    flex: 1;
                    order: 4;

                    button {
                        margin-right: 16px;
                    }
                }

                .langs {
                    display: block;
                    text-align: right;
                    flex: 1;
                    order: 5;
                    padding: 0;
                }

                .mob {
                    display: block;

                    &.show {
                        display: block;
                    }
                }
            }
        }
    }

    @include min_width(1200) {
        border-top: 30px solid #f9f9f9;
        border-bottom: 30px solid #f9f9f9;

        .top {

            .top-navs {
                .buttons {
                    button {
                        margin-right: 22px;
                    }
                }
            }
        }
    }
}