p {
    font-size: 14px;
    line-height: 1.73;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    @include font('Circe');
    text-align: center;
}

h1,
.h1 {
    font-size: 24px;
    font-weight: 400;
}

h2,
.h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 33px 0 30px;
}

h3,
.h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.43;
}

h4,
.h4 {
    font-size: 14px;
    font-weight: 600;
}

a {
    text-decoration: none;
    transition: border-bottom .3s ease-in-out;
    border-bottom: 1px solid rgba($color-black, 0);
    color: inherit;

    &:hover {
        color: $color-blue;
        border-bottom-color: rgba($color-black, .4);
    }
}

.link_border {
    text-decoration: none;
    position: relative;
    border: none;

    &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        background-color: $color-black;
        height: 1px;
    }
}

@include min_width(768) {

    h1,
    .h1 {
        font-size: 38px;
    }

    h2,
    .h2 {
        font-size: 38px;
        padding: 54px 0 50px;
    }

    h3,
    .h3 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    h4,
    .h4 {
        font-size: 15px;
        font-weight: 700;
    }

}