@import "reset";
@import "mixins";
@import "variables";
@import 'fonts';
@import 'typograph';

@import "partial/header";
@import "partial/footer";
@import "partial/body";
@import "partial/forms";

@import "page/index";

.owl-navs {
    border-top: 1px solid rgba($color-white, .2);
    position: relative;
    height: 60px;
    z-index: 1;

    .container-fluid {
        position: relative;
        height: 60px;
    }

    button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }

    .nav,
    .dots {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        line-height: 0;
    }

    .nav {
        height: 16px;
        z-index: 1;

        .owl-prev,
        .owl-next {
            position: absolute;
        }

        .owl-prev {
            left: 15px;
        }

        .owl-next {
            right: 15px;
        }
    }

    .dots {
        z-index: 2;
        width: auto;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        button {
            width: 8px;
            height: 8px;
            background-color: $color-white;
            border-radius: 100%;
            margin-right: 8px;
            opacity: .5;
            transition: opacity .3s ease;

            &.active {
                opacity: 1;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@include min_width(1200) {
    .container {
        max-width: 1440px;
    }
}

.float_right {
    float: right;
}

.container-fluid {
    max-width: 1440px;
}

main {
    overflow: hidden;
}


.checkbox,
.radio {
    margin-right: 16px;

    label:after {
        content: '';
        display: table;
        clear: both;
    }

    .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: 4px;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: 15px;
    }
}


.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 52%;
    left: 15%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label,
.radio label {
    padding-left: 0;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}